.profile-container {
	margin: var(--space-lg);
	/* background-color: var(--color-surface);
	 */
	background: linear-gradient(180deg, #eef7ff 0%, #cfe7fb 35%, #96ccff 100%);
	height: fit-content;
	width: auto;
	align-items: flex-start;
	border-radius: 15px;
}
.btn-settings-profile {
	margin: 10px;
	color: var(--color-btn-text);
}

.margin-static-profile-img {
	margin-top: 100px;
}

.profile-img {
	margin: 100px;
	cursor: pointer;
}

.profile-info {
	margin-top: 90px;
	/* gap: 100px; */
}

.profile-info-container {
	gap: 250px;
	margin-bottom: 0;
}
.profile-info-deeper {
	/* background-color: #a9d4ff; */
	margin-top: 25px;
	padding: 20px 28px;
	display: grid;
	grid-template-columns: 220px 1fr 220px 1fr;
	row-gap: 14px;
	column-gap: 40px;
	align-items: center;
	height: fit-content;
	width: fit-content;
}

.label,
.value {
	font-size: 24px;
	line-height: 1.2;
}

.profile-right {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 30px;
}

.lower-profile-container {
	margin: var(--space-lg);
	/* background-color: var(--color-surface); */
	background: linear-gradient(180deg, #eef7ff 0%, #cfe7fb 35%, #96ccff 100%);
	height: fit-content;
	width: auto;
	align-items: flex-start;
	border-radius: 15px;
}

.rank-profile {
	margin: 100px;
}

.lower-profile-container-text {
	background-color: #00000000;
}

.margin-task-complete {
	margin-left: 100px;
	margin-right: 150px;
	width: 250px;
}

.margin-rank-profile {
	margin-bottom: 50px;
}

.point-rank-container {
	width: 450px;
}