.btn-hide {
	background-color: transparent;
	border-color: transparent;
	color: var(--btn-color-light-theme);
	width: auto;
	height: auto;
	font-size: 30px;
	display: flex;
	justify-content: right;
	padding-right: 38px;
	margin-left: auto;
	transition: transform var(--transition-timer-in-sec) ease;
}

.btn-hide:hover {
	transform: scale(1.1);
}

.btn-hide:active {
	transform: scale(0.95);
}

.btn-run-code {
	background-color: transparent;
	border-color: transparent;
	color: var(--btn-color-light-theme);
	width: 80px;
	height: 80px;
	transition: color 0.3s ease;
	cursor: pointer;
}

.btn-submit-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.run-wrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 8px 24px rgba(59, 130, 246, 0.18);

	width: 50px;
	height: 50px;
	border: none;
	border-radius: 30%;
	background: var(--main-color-light-theme);
	border: 1px solid var(--btn-border-color-light-theme);
	cursor: pointer;
	padding: 0;
	transition:
		background var(--transition-timer-in-sec) ease,
		transform var(--transition-timer-in-sec) ease;
}

.run-wrapper:hover {
	background: transparent;
	transform: scale(1.04);
}

.run-wrapper:active {
	transform: scale(0.98);
	background: var(--main-color-light-theme);
}

.btn-check-solution {
	margin: 10px;
	padding: 5px 15px;
}
