.main-code-editor-container {
	margin: 0 10px 10px 16px;
}

.resizable-group {
	width: 100%;
	height: 100%;
}
.editor-panel {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.scroll-bar-container {
	width: 100%;
	height: 100%;
	overflow: auto;
	border: 2px solid var(--color-primary);
	box-sizing: border-box;
	background-color: var(--color-surface);
	scrollbar-width: thin;
	scrollbar-color: var(--color-primary) var(--main-color-light-theme);
}

.panel-title {
	flex: 0 0 auto;
	white-space: nowrap;
	font-size: 25px;
	overflow: hidden;
}

.task-container {
	height: 800px;
	width: 100%;
	box-sizing: border-box;
}

.separator {
	border-radius: 25px 25px 25px 25px;
	width: 2px;
	background-color: transparent;
	cursor: col-resize;
	margin-left: 1px;
	margin-right: 1px;
}

.code-editor-container {
	width: 99.9%;
	height: 100%;
}

.editor {
	border: 2px solid var(--color-primary);
}