.navbar-shell {
	overflow: hidden;
	transition:
		transform var(--transition-timer-in-sec) ease,
		opacity var(--transition-timer-in-sec) ease,
		max-height var(--transition-timer-in-sec) ease;
	will-change: transform, opacity, max-height;
	max-height: 143px;
}

.navbar-visible {
	transform: translateY(0);
	opacity: 1;
	max-height: 150px;
}

.navbar-hidden {
	transform: translateY(-20px);
	opacity: 0;
	max-height: 0;
	pointer-events: none;
}
