.navbar {
  background-color: #96CCFF8A;
  border-radius: 60px;
  margin: 17px 38px 0px 38px;
  padding: 0 30px;
  min-height: 126px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:30px
}


.logo-container {
  display: flex;
  align-items: center;

  /* margin-right: auto; */
  /* margin-left:30px; */
  gap: 20px;
  flex-shrink: 0;
}

.logo-container > .img {
    width: 70px;
    height: 70.41px;
}
.logo-container  > .project-name {
    font-size: 36px;
    margin: 0px;
    white-space: nowrap;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.navlink {
  font-size: 36px;
  text-decoration: none;
  color: #333;
  /* padding: 5px 0; */
  white-space: nowrap;
  position: relative;
}

.navlink:not(:last-child)::after {
  content: "|";
  margin-left: 28px;
  /* margin-right: 35px; */
  color: #333;
}

.navlink:hover {
  color: #555;
}
.navlink:hover::after {
  color: #555;
}

