.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0 5px;
  font-size: 24px;
}

.footer-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  margin-top: 13px;
}

.footer-logo-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.footer-logo-container > .footer-img {
  width: 35px;
  height: 35.205px;
  margin-left: 5px;
}

.copyrights {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 28px;
}

