.registration-page {
  padding: 20px;
}

.registration-card {
  width: 800px;
  min-height: 1000px;
  padding: 50px;
  box-sizing: border-box;
}

.registration-title {
  text-align: center;
  font-size: 62px;
  font-weight: 350;
  margin-top: -10px;
  margin-bottom: 30px;
  color: var(--color-text-main);
}

.registration-form {
  gap: 25px;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 48px;
  font-weight: 350;
  color: var(--color-text-main);
}

.form-input {
  max-width: 450px;
}

.registration-error {
  margin: 0;
  font-size: 18px;
  color: #b42318;
}

.btn-submit-registration {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 44px;
  font-weight: 10;
  color: var(--color-text-main);
}
